<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ism-jee</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.filter.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DuplicateEmailCheckFilter</filter-name>
    <filter-class>com.filter.DuplicateEmailCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DuplicateEmailCheckFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.listener.ServerLogListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.listener.UserCounterListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ExtendSessionController</display-name>
    <servlet-name>ExtendSessionController</servlet-name>
    <servlet-class>com.controller.ExtendSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtendSessionController</servlet-name>
    <url-pattern>/ExtendSessionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCookieController</display-name>
    <servlet-name>SaveCookieController</servlet-name>
    <servlet-class>com.controller.SaveCookieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCookieController</servlet-name>
    <url-pattern>/SaveCookieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintAllRequestHeaderController</display-name>
    <servlet-name>PrintAllRequestHeaderController</servlet-name>
    <servlet-class>com.controller.PrintAllRequestHeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintAllRequestHeaderController</servlet-name>
    <url-pattern>/PrintAllRequestHeaderController</url-pattern>
  </servlet-mapping>
</web-app>